body {
    background-color: white;
    color: black;
    font-family: Georgia, serif;
    text-align: center;
    padding: 50px;
  }
  
  button {
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #555;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .dark_mode {
    background-color: black;
    color: white;
  }
  